# Database
DATABASE_URL="postgresql://app:app@localhost:5432/app?schema=public"

# Backend HTTP
PORT=3000
LOG_LEVEL="debug"

# better-auth
BETTER_AUTH_SECRET="change-me-generate-with-openssl-rand-base64-32"
BETTER_AUTH_URL="http://localhost:3000"
